<!DOCTYPE html/>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header-head">
<meta charset="utf-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<title>Yandex Weather</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/meteo.css}" />
<script crossorigin="anonymous" th:src="@{/webjars/font-awesome/5.15.4/js/all.min.js}"></script>
<link rel="icon" th:href="@{favicon.png}" type="image/x-icon">
</head>


<body>
	<main>
		<div class="container">
			<div class="card mb-4">
				<div class="card-body" th:object="${weather.fact}">
					<div class="container">
						<div class="row">
							<div class="col-md display-4">Погода: Калининград</div>
						</div>
						<div class="row justify-content-start">
							<div class="col-md fs-4"  th:text="|Сейчас *{obsTime}|">Сейчас 15:24</div>
							<div class="col-md fs-4">Вчера в это время +5</div>
						</div>
						<div class="row justify-content-start">
							<div class="col-md display-4" th:text="*{temp}">>+2</div>
							<div class="col-md fs-1">X</div>
							<div class="col-md">
								<div class="row">
									<div class="col-md" th:text="*{condition}">Облачно с прояснениями</div>
								</div>
								<div class="row">
									<div class="col-md" th:text="|Ощущается как *{feelsLike}|">Ощущается как -3</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md justify-content-start" th:text="|*{windSpeed} м/с, *{windDir}|">5,0 м/с, С</div>
							<div class="col-md justify-content-start" th:text="|порывы до *{windGust} м/с|">5,0 м/с</div>
							<div class="col-md justify-content-start" th:text="|*{humidity}%|">93%</div>
							<div class="col-md justify-content-start" th:text="|*{pressureMm} мм рт. ст |">744 мм рт. ст.</div>
							<div class="col-md justify-content-start" th:text="*{tempWater} ?: _"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>


	<div>
		<script th:src="@{/webjars/jquery/3.6.0/jquery.slim.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/scripts.js}"></script>
	</div>

</body>
</html>